In [22]:
# Dependencies and Setup
import pandas as pd

In [23]:
# File to Load (Remember to Change These)
file_to_load = "C:/Users/JPHeb/JPH-Data-Class/pandas-challenge/Heroes_of_Pymoli/Resources/purchase_data.csv"

In [24]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [25]:
purchase_data_df2 = purchase_data_df.loc[:, ["Gender", "Username", "Age"]]
purchase_data_df2

     Gender  Username  Age
0      Male       NaN   20
1      Male       NaN   40
2      Male       NaN   24
3      Male       NaN   24
4      Male       NaN   23
..      ...       ...  ...
775  Female       NaN   21
776    Male       NaN   21
777    Male       NaN   20
778    Male       NaN    7
779    Male       NaN   24

[780 rows x 3 columns]

In [26]:
dropped_username = purchase_data_df2.drop_duplicates()
dropped_username.count()

Gender      69
Username     0
Age         69
dtype: int64

In [27]:
#Dropped Usernames
Gender_Count = dropped_username["Gender"].value_counts()
Gender_Count

Male                     39
Female                   22
Other / Non-Disclosed     8
Name: Gender, dtype: int64

In [28]:
Gender_Count_df = pd.DataFrame(Gender_count)
Gender_Percent = Gender_count_df['Gender'] / 100
Gender_Percent

Male                     0.39
Female                   0.22
Other / Non-Disclosed    0.08
Name: Gender, dtype: float64