In [27]:
# Dependencies and Setup
import pandas as pd

In [28]:
# File to Load (Remember to Change These)
file_to_load = "C:/Users/JPHeb/JPH-Data-Class/pandas-challenge/Heroes_of_Pymoli/Resources/purchase_data.csv"

In [29]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [30]:
# Display Purchase_Data_df
#Purchase_Data_df.head
# iterating the columns 
#for col in purchase_data_df.columns: 
    #print(col)

In [31]:
#Player Count
    #Display the total number of players
#################################################################################

# The unique method shows every element of the series that appears only once
unique = purchase_data_df["SN"].unique()
#unique
players_count = len(unique)
#print(players_count) "576"

# initialize list of lists 
total_players = {'Total Players':[players_count]}
#print(total_players) #{'Total Players': [576]}
# Create the pandas DataFrame 
Total_Players_df = pd.DataFrame(total_players)
Total_Players_df

   Total Players
0            576

In [32]:
#Purchasing Analysis (Total)
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

# Number of Unique Items
Item = purchase_data_df["Item ID"].unique()
Item_count = len(Item)
#print(Item_count)

# Average Purchase Price
Avg_Pur_Price = purchase_data_df["Price"].mean()
#print(Avg_Pur_Price)

# Total Number of Purchases
Num_Purchases = purchase_data_df["Purchase ID"].unique()
#print(Num_Purchases)
Total_Num_Purchases = len(Num_Purchases)
#print(Total_Num_Purchases)

# Total Revenue
total = purchase_data_df["Price"].sum()
#total

# Initialize Dictionary of lists
purchase_analysis = {'Total Revenue': [total],
                     'Total Number of Purchases':[Total_Num_Purchases],
                     'Average Purchase Price':[Avg_Pur_Price],
                     'Number of Unique Item': [Item_count]}

# Create the Purchasing_Analysis DataFrame
Purchase_Analysis_df = pd.DataFrame(purchase_analysis)
#Format Average Purchase Price & Total Revenue
Purchase_Analysis_df['Average Purchase Price'] = Purchase_Analysis_df['Average Purchase Price'].map("${:,.2f}".format)
Purchase_Analysis_df['Total Revenue'] = Purchase_Analysis_df['Total Revenue'].map("${:,.2f}".format)
Purchase_Analysis_df

,Total Revenue,Total Number of Purchases,Average Purchase Price,Number of Unique Item
0,"$2,379.77",780,$3.05,179

In [33]:
# Gender Demographics DataFrame
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-DisclosedGender_Analysis
#################################################################################
#Purchase_Data_df2
purchase_data_df2 = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]

#Drop Duplicates
dropped_SN = purchase_data_df2.drop_duplicates()
#dropped_SN #576 rows Ã— 3 columns

# Count Genders  with .value_count
Gender_count = dropped_SN["Gender"].value_counts()
#Gender_count   #Male                     484
                #Female                    81
                #Other / Non-Disclosed     11

# Create the Gender Demogrphics DataFrame
Gender_Demogrphics_df = pd.DataFrame(Gender_count)

# Calculate gender percents
gender_percent = Gender_Demogrphics_df["Gender"] / int(players_count) * 100
#print(gender_percent)  #Male                     84.027778
                        #Female                   14.062500
                        #Other / Non-Disclosed     1.909722

# add Gender% to Gender_Demogrphics_df
Gender_Demogrphics_df["Percentage of Players"] = gender_percent
# Format Percentage of Players to 00.00%
Gender_Demogrphics_df['Percentage of Players'] = Gender_Demogrphics_df['Percentage of Players'].map("{:.2f}%".format)

#Show Data Frame
Gender_Demogrphics_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [34]:
# Purchasing Analysis by (Gender)
    # Run basic calculations to obtain purchase count
    # avg. purchase price
    # avg. purchase total per person etc. by gender
        # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

# Reference multiple columns within a DataFrame
grouped_gender_price = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
grouped_gender_pur_id = purchase_data_df.groupby(["Gender"]).count()["Purchase ID"].rename("Purchase Count")
grouped_gender_total_price = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
test = grouped_gender_total_price / Gender_Demogrphics_df["Gender"]

# Initialize Dictionary of lists
Gender_Analysis = {'Purchase Count':grouped_gender_pur_id,
                   'Average Purchase Price': grouped_gender_price,                     
                     'Total Purchase Value':grouped_gender_total_price,
                     'Avg Total Purchase per Person': test}

# Create the Gender Demogrphics DataFrame
Gender_Analysis_df = pd.DataFrame(Gender_Analysis)

# Format data to $1,000.00
Gender_Analysis_df['Average Purchase Price'] = Gender_Analysis_df['Average Purchase Price'].map("${:,.2f}".format)
Gender_Analysis_df['Total Purchase Value'] = Gender_Analysis_df['Total Purchase Value'].map("${:,.2f}".format)
Gender_Analysis_df['Avg Total Purchase per Person'] = Gender_Analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)

#Show Data Frame
Gender_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [35]:
    # Establish bins for ages
    # Categorize the existing players using the age bins. Hint: use pd.cut()
    # Calculate the numbers and percentages by age group
    # Create a summary data frame to hold the results
        # Optional: round the percentage column to two decimal points
        # Display Age Demographics Table
#################################################################################
#Purchase_Data_df3
Purchase_Data_df3 = purchase_data_df.loc[:, ["SN", "Age"]]

#Drop Duplicates
remove_dup_SN = Purchase_Data_df3.drop_duplicates()


# Create the bins in which Data will be held
bins = [0, 10, 15, 20, 25, 30, 35, 40, 500]
#print(len(bins))

# Create the names for the bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]    
#print(len(age_groups))

# Creating a group based off of the bins
remove_dup_SN["Age"] = pd.cut(remove_dup_SN["Age"], bins, labels=age_groups, include_lowest=True)

grouped_age_count = remove_dup_SN.groupby(["Age"]).count()["SN"].rename("Total Count")
percent_age_group = grouped_age_count / int(players_count) * 100
percent_age_group

# Initialize Dictionary of lists
Grouped_Age = {'Total Count':grouped_age_count, 'Percentage of Players':percent_age_group}   

# Create the Gender Demogrphics DataFrame
Age_Demographics_df = pd.DataFrame(Grouped_Age)

# Format data to $1,000.00
Age_Demographics_df['Percentage of Players'] = Age_Demographics_df['Percentage of Players'].map("{:.2f}%".format)

#Show Data Frame
Age_Demographics_df

C:\Users\JPHeb\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage of Players
Age
<10             24                 4.17%
10-14           41                 7.12%
15-19          150                26.04%
20-24          232                40.28%
25-29           59                10.24%
30-34           37                 6.42%
35-39           26                 4.51%
40+              7                 1.22%

In [36]:
#Purchasing Analysis by (Age)
    # Bin the purchase_data data frame by age
    # Run basic calculations to obtain purchase count,
    # avg. purchase price, avg. purchase total per person etc.
    # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

In [37]:
# Top Spenders
    # Run basic calculations to obtain the results in the table below
    # Create a summary data frame to hold the results
        # Sort the total purchase value column in descending order
        # Optional: give the displayed data cleaner formatting
        # Display a preview of the summary data frame
#################################################################################

In [38]:
# Most Profitable Items
    # Sort the above table by total purchase value in descending order
        # Optional: give the displayed data cleaner formatting
        # Display a preview of the data frame
#################################################################################