In [126]:
# Dependencies and Setup
import pandas as pd

In [127]:
# File to Load (Remember to Change These)
file_to_load = "C:/Users/JPHeb/JPH-Data-Class/pandas-challenge/Heroes_of_Pymoli/Resources/purchase_data.csv"

In [128]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [129]:
# Display Purchase_Data_df
#Purchase_Data_df.head
# iterating the columns 
#for col in purchase_data_df.columns: 
    #print(col)

In [130]:
#Player Count
    #Display the total number of players
#################################################################################

# The unique method shows every element of the series that appears only once
unique = purchase_data_df["SN"].unique()
#unique
players_count = len(unique)
#print(players_count) "576"

# initialize list of lists 
total_players = {'Total Players':[players_count]}
#print(total_players) #{'Total Players': [576]}
# Create the pandas DataFrame 
Total_Players_df = pd.DataFrame(total_players)
Total_Players_df

   Total Players
0            576

In [131]:
#Purchasing Analysis (Total)
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

# Number of Unique Items
Item = purchase_data_df["Item ID"].unique()
Item_count = len(Item)
#print(Item_count)

# Average Purchase Price
Avg_Pur_Price = purchase_data_df["Price"].mean()
#print(Avg_Pur_Price)

# Total Number of Purchases
Num_Purchases = purchase_data_df["Purchase ID"].unique()
#print(Num_Purchases)
Total_Num_Purchases = len(Num_Purchases)
#print(Total_Num_Purchases)

# Total Revenue
total = purchase_data_df["Price"].sum()
#total

# Initialize Dictionary of lists
purchase_analysis = {'Total Revenue': [total],
                     'Total Number of Purchases':[Total_Num_Purchases],
                     'Average Purchase Price':[Avg_Pur_Price],
                     'Number of Unique Item': [Item_count]}

# Create the Purchasing_Analysis DataFrame
Purchase_Analysis_df = pd.DataFrame(purchase_analysis)
#Format Average Purchase Price & Total Revenue
Purchase_Analysis_df['Average Purchase Price'] = Purchase_Analysis_df['Average Purchase Price'].map("${:,.2f}".format)
Purchase_Analysis_df['Total Revenue'] = Purchase_Analysis_df['Total Revenue'].map("${:,.2f}".format)
Purchase_Analysis_df

,Total Revenue,Total Number of Purchases,Average Purchase Price,Number of Unique Item
0,"$2,379.77",780,$3.05,179

In [132]:
# Gender Demographics DataFrame
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-DisclosedGender_Analysis
#################################################################################
#Purchase_Data_df2
purchase_data_df2 = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]

#Drop Duplicates
dropped_SN = purchase_data_df2.drop_duplicates()
#dropped_SN #576 rows Ã— 3 columns

# Count Genders  with .value_count
Gender_count = dropped_SN["Gender"].value_counts()
#Gender_count   #Male                     484
                #Female                    81
                #Other / Non-Disclosed     11

# Create the Gender Demogrphics DataFrame
Gender_Demogrphics_df = pd.DataFrame(Gender_count)

# Calculate gender percents
gender_percent = Gender_Demogrphics_df["Gender"] / int(players_count) * 100
#print(gender_percent)  #Male                     84.027778
                        #Female                   14.062500
                        #Other / Non-Disclosed     1.909722

# add Gender% to Gender_Demogrphics_df
Gender_Demogrphics_df["Percentage of Players"] = gender_percent
# Format Percentage of Players to 00.00%
Gender_Demogrphics_df['Percentage of Players'] = Gender_Demogrphics_df['Percentage of Players'].map("{:.2f}%".format)

#Show Data Frame
Gender_Demogrphics_df

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [133]:
# Purchasing Analysis by (Gender)
    # Run basic calculations to obtain purchase count
    # avg. purchase price
    # avg. purchase total per person etc. by gender
        # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

# Reference multiple columns within a DataFrame
grouped_gender_price = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
grouped_gender_pur_id = purchase_data_df.groupby(["Gender"]).count()["Purchase ID"].rename("Purchase Count")
grouped_gender_total_price = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
test = grouped_gender_total_price / Gender_Demogrphics_df["Gender"]

# Initialize Dictionary of lists
Gender_Analysis = {'Purchase Count':grouped_gender_pur_id,
                   'Average Purchase Price': grouped_gender_price,                     
                     'Total Purchase Value':grouped_gender_total_price,
                     'Avg Total Purchase per Person': test}

# Create the Gender Demogrphics DataFrame
Gender_Analysis_df = pd.DataFrame(Gender_Analysis)

# Format data to $1,000.00
Gender_Analysis_df['Average Purchase Price'] = Gender_Analysis_df['Average Purchase Price'].map("${:,.2f}".format)
Gender_Analysis_df['Total Purchase Value'] = Gender_Analysis_df['Total Purchase Value'].map("${:,.2f}".format)
Gender_Analysis_df['Avg Total Purchase per Person'] = Gender_Analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)

#Show Data Frame
Gender_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [134]:
    # Establish bins for ages
    # Categorize the existing players using the age bins. Hint: use pd.cut()
    # Calculate the numbers and percentages by age group
    # Create a summary data frame to hold the results
        # Optional: round the percentage column to two decimal points
        # Display Age Demographics Table
#################################################################################
#Purchase_Data_df3
Purchase_Data_df3 = purchase_data_df.loc[:, ["SN", "Age"]]

#Drop Duplicates
remove_dup_SN = Purchase_Data_df3.drop_duplicates()


# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 500]
#print(len(bins))

# Create the names for the bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]    
#print(len(age_groups))

# Creating a group based off of the bins
remove_dup_SN["Age"] = pd.cut(remove_dup_SN["Age"], bins, labels=age_groups, include_lowest=True)

grouped_age_count = remove_dup_SN.groupby(["Age"]).count()["SN"].rename("Total Count")
percent_age_group = grouped_age_count / int(players_count) * 100
#percent_age_group

# Initialize Dictionary of lists
Grouped_Age = {'Total Count':grouped_age_count, 'Percentage of Players':percent_age_group}   

# Create the Gender Demogrphics DataFrame
Age_Demographics_df = pd.DataFrame(Grouped_Age)

# Format data to 00.00%
Age_Demographics_df['Percentage of Players'] = Age_Demographics_df['Percentage of Players'].map("{:.2f}%".format)

#Show Data Frame
Age_Demographics_df

C:\Users\JPHeb\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [135]:
#Purchasing Analysis by (Age)
    # Bin the purchase_data data frame by age
    # Run basic calculations to obtain purchase count,
    # avg. purchase price, avg. purchase total per person etc.
    # Create a summary data frame to hold the results
        # Optional: give the displayed data cleaner formatting
        # Display the summary data frame
#################################################################################

#Purchase_Data_df4
Purchase_Data_df4 = purchase_data_df.loc[:, ["Age","Price","SN","Purchase ID"]]


# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 500]
#print(len(bins))

# Create the names for the bins
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]    
#print(len(age_groups))

# Creating a group based off of the bins
Purchase_Data_df4["Age"] = pd.cut(Purchase_Data_df4["Age"], bins, labels=age_groups, include_lowest=True)

purchased_age_count = Purchase_Data_df4.groupby(["Age"]).count()["Purchase ID"].rename("Total Count")
avg_purchase_price = Purchase_Data_df4.groupby(["Age"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_value = Purchase_Data_df4.groupby(["Age"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value
avg_purchase_total_per_person = total_purchase_value / grouped_age_count


# Initialize Dictionary of lists
Age_Purchase_Analysis = {'Purchase Count' : purchased_age_count,
               'Average Purchase Price' : avg_purchase_price,
               'Total Purchase Value' : total_purchase_value,
               'Avg Total Purchase per Person' : avg_purchase_total_per_person}

# Create the Gender Demogrphics DataFrame
Purchasing_Analysis_Age_df = pd.DataFrame(Age_Purchase_Analysis)

# Format data to 00.00%
Purchasing_Analysis_Age_df['Average Purchase Price'] = Purchasing_Analysis_Age_df['Average Purchase Price'].map("${:,.2f}".format)
Purchasing_Analysis_Age_df['Total Purchase Value'] = Purchasing_Analysis_Age_df['Total Purchase Value'].map("${:,.2f}".format)
Purchasing_Analysis_Age_df['Avg Total Purchase per Person'] = Purchasing_Analysis_Age_df['Avg Total Purchase per Person'].map("${:,.2f}".format)

#Show Data Frame
Purchasing_Analysis_Age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [176]:
##### Top Spenders
    # Run basic calculations to obtain the results in the table below
    # Create a summary data frame to hold the results
        # Sort the total purchase value column in descending order
        # Optional: give the displayed data cleaner formatting
        # Display a preview of the summary data frame
################################################################################# 

#SN_purchase_data
#SN_purchase_data = purchase_data_df.loc[:, ["SN","Price","Purchase ID"]]


# Reference multiple columns within a DataFrame
grouped_SN_price = purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
grouped_SN_pur_id = purchase_data_df.groupby(["SN"]).count()["Purchase ID"].rename("Purchase Count")
grouped_SN_total_price = purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")

# Initialize Dictionary of lists
Top_Spender_Analysis = {'Purchase Count':grouped_SN_pur_id,
                        'Average Purchase Price': grouped_SN_price,                     
                        'Total Purchase Value':grouped_SN_total_price,}

# Create the SN Spender DataFrame
Top_Spender_df = pd.DataFrame(Top_Spender_Analysis)

# Sort by Total Purchase Vale and limit to only 5 rows
Top_Spender_df=Top_Spender_df.sort_values(['Total Purchase Value'], ascending=False).iloc[:5]

# Format data to $1,000.00
Top_Spender_df['Average Purchase Price'] = Top_Spender_df['Average Purchase Price'].map("${:,.2f}".format)
Top_Spender_df['Total Purchase Value'] = Top_Spender_df['Total Purchase Value'].map("${:,.2f}".format)

#Show Data Frame   
Top_Spender_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [ ]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
    #Group by Item ID and Item Name. 
    #Perform calculations to obtain purchase count, item price, and total purchase value
        #Create a summary data frame to hold the results
            #Sort the purchase count column in descending order
                #Optional: give the displayed data cleaner formatting
                #Display a preview of the summary data frame
#################################################################################

In [144]:
# Most Profitable Items
    # Sort the above table by total purchase value in descending order
        # Optional: give the displayed data cleaner formatting
        # Display a preview of the data frame
################################################################################# 

#iterating the columns 
for col in purchase_data_df.columns: 
    print(col)
    
top5 = df.groupby('SN')['Price'].agg(['count', 'sum', 'mean']).nlargest(5, 'sum').

Purchase ID
SN
Age
Gender
Item ID
Item Name
Price