In [26]:
# Dependencies and Setup
import pandas as pd

In [27]:
# File to Load (Remember to Change These)
file_to_load = "C:/Users/JPHeb/JPH-Data-Class/pandas-challenge/Heroes_of_Pymoli/Resources/purchase_data.csv"

In [28]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [29]:
#purchase_data_df.head
#purchase_data_df.head

In [30]:
# iterating the columns 
for col in purchase_data_df.columns: 
    print(col)

Purchase ID
SN
Age
Gender
Item ID
Item Name
Price

In [31]:
# Number of Unique Items
Item = purchase_data_df["Item ID"].unique()
Item_count = len(Item)
print(Item_count)

179

In [32]:
# Average Purchase Price
Avg_Pur_Price = purchase_data_df["Price"].mean()
print(Avg_Pur_Price)

3.050987179487176

In [33]:
# Total Number of Purchases
Num_Purchases = purchase_data_df["Purchase ID"].unique()
#print(Num_Purchases)
Total_Num_Purchases = len(Num_Purchases)
print(Total_Num_Purchases)

780

In [34]:
# Total Revenue
total = purchase_data_df["Price"].sum()
total

2379.77

In [35]:
# Initialize Dictionary of lists
Purchase_Analysis = {'Total Revenue': [total],
                     'Total Number of Purchases':[Total_Num_Purchases],
                     'Average Purchase Price':[Avg_Pur_Price],
                     'Number of Unique Item': [Item_count]
                    }

In [41]:
# Create the Purchasing_Analysis DataFrame
Purchase_Analysis_df = pd.DataFrame(Purchase_Analysis)
Purchase_Analysis_df

,Total Revenue,Total Number of Purchases,Average Purchase Price,Number of Unique Item
0,2379.77,780,3.050987,179

In [42]:
Purchase_Analysis_df['Average Purchase Price'] = Purchase_Analysis_df['Average Purchase Price'].map("${:,.2f}".format)
Purchase_Analysis_df

,Total Revenue,Total Number of Purchases,Average Purchase Price,Number of Unique Item
0,2379.77,780,$3.05,179

In [43]:
Purchase_Analysis_df['Total Revenue'] = Purchase_Analysis_df['Total Revenue'].map("${:,.2f}".format)
Purchase_Analysis_df

,Total Revenue,Total Number of Purchases,Average Purchase Price,Number of Unique Item
0,"$2,379.77",780,$3.05,179