In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)
file_to_load = "C:/Users/JPHeb/JPH-Data-Class/pandas-challenge/Heroes_of_Pymoli/Resources/purchase_data.csv"

In [4]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [5]:
#purchase_data_df.head
purchase_data_df.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [6]:
#Describe Data
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [7]:
# iterating the columns 
for col in purchase_data_df.columns: 
    print(col)

Purchase ID
SN
Age
Gender
Item ID
Item Name
Price

In [8]:
#Remane SN to Username
purchase_data_df.rename(columns = {'SN':'Username'}, inplace = True)
# iterating the columns 
for col in purchase_data_df.columns: 
    print(col)

Purchase ID
Username
Age
Gender
Item ID
Item Name
Price

In [9]:
# The unique method shows every element of the series that appears only once
unique = purchase_data_df["Username"].unique()
#unique
players_count = len(unique)
print(players_count)

576

In [10]:
# initialize Dictionary of lists 
total_players = {'Total Players':[players_count]}
print(total_players)

{'Total Players': [576]}

In [11]:
# Create the Total_Players DataFrame 
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576